$thm: (
    drk: (
        pri: #323232,
        sec: #404040,
        ter: #5A5D5F,
        acc: #903C3C,
        txt: #FBF3F3,
        sub: #D82F2F,
        sdw: rgba(29, 29, 29, 0.4), 
    ),
    lgt: (
        pri: #D4D4D4,
        sec: #F2F2F3,
        ter: #A7B4BD,
        acc: #F89D96,
        txt: #1E1E1E,
        sub: #E75757,
        sdw: rgba(130, 124, 121, 0.4),
    ),
);

$clr: (
    bkg: #1E1E1E,
    dpy: #00ECF8,
);

$ft-fy: (
    btn: ('Inter', sans-serif),
    dpy: ('DSEG7', monospace),
    tpe: ('Courier Prime', monospace),
);

$ft-wt: (
    rgl: 400,
    bld: 700,
);

$ft-sz: (
    xl: 2rem,
    lg: 1.5rem,
    md: 1.25rem,
    sm: 1rem,
);

$wdt: (
    btn: calc((100vw - 8px * 6) / 5),
);

$spc: (
    sm: 8px,
)