.calc { 
    background-color: var(--clr-pri);
    background-image: url(../images/bkgd.svg);
    max-width: 426px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px 4px var(--clr-sdw);
    border-radius: 10px;
    overflow: hidden;
    transition: height 2s ease-in-out;

    &__resizer {
        width: 100%;
        text-align: center;
        position: relative;
        label {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        input {
            width: 0;
            height: 0;
        }
        svg {
            transition: 0.3s 0.7s ease-in-out;
        }
    }

    $areas: ('margin', 'items', 'tax', 'sign', 'percent', 'clear', 'memory', 'numpad', 'operators');

    &__buttons {
        max-height: 550px;
        overflow: hidden;
        padding:  map-get($spc, 'sm');
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            "#{nth($areas, 1)} #{nth($areas, 1)} #{nth($areas, 1)} #{nth($areas, 2)} #{nth($areas, 2)}"
            "#{nth($areas, 3)} #{nth($areas, 3)} #{nth($areas, 4)} #{nth($areas, 5)} #{nth($areas, 5)}"
            "#{nth($areas, 6)} #{nth($areas, 6)} #{nth($areas, 6)} #{nth($areas, 7)} #{nth($areas, 7)}"
            "#{nth($areas, 8)} #{nth($areas, 8)} #{nth($areas, 8)} #{nth($areas, 7)} #{nth($areas, 7)}"
            "#{nth($areas, 8)} #{nth($areas, 8)} #{nth($areas, 8)} #{nth($areas, 9)} #{nth($areas, 9)}";
        gap: map-get($spc, 'sm');
        transition: height 1s ease-in-out;
    }

    @each $area in $areas {
        &__#{$area} {
            grid-area: #{$area};
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-between;
            gap:  map-get($spc, 'sm');
            }
    }
}

.calc__buttons--hidden {
    transition: height 1s ease-in-out;
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.calc__svg--rotate {
    transition: 0.3s 0.7s ease-in-out;
    transform: rotate(180deg);
}


@media (min-width: 426px) {
    .calc {
        margin: 2vw;
        &__resizer {
            display: none;
        }
    }
}

@keyframes hidden {
    to {
        height: 100%;
    }
    from {
        height: 0%;
        padding: 0%;
    }
}