.offcanvas{
    position: fixed;
    height: 0;
    z-index: 4;
    display: flex;
    flex-direction: row;

    &__bkg {
        background-color: rgb(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: opacity 1s ease-in-out;
        z-index: 3;

        &--hidden {
            opacity: 0;
            pointer-events: none;
        }

        &--modal {
            z-index: 5;
        }
    }

    &__menu {
            background-color: var(--clr-pri);
            height: 100vh;
            max-width: 250px;
            border-radius: 0 10px 10px 0;
            overflow: hidden;
            transition: max-width 1s ease-in-out;
            
            li {
                white-space: nowrap;
                margin: 1em;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                gap: 1em;
            
                span {
                    text-align: end;
                }
            }
            
            &--hidden {
                max-width: 0;
            }
        }
    
    &__btn {
        margin: map-get($spc, 'sm');
    }
    
    &__svg {
        width: 100%;
        height: auto;
        transform: rotate(90deg);
        transition: transform 0.3s 0.7s ease-in-out;
        
        &--rotate {
            transform: rotate(-90deg);
        }
    }
}