.tape {
    background-color: var(--clr-bkg);
    width: 100%;
    padding: map-get($spc, 'sm');
    text-align: end;
    overflow: auto;
    flex: 1;

    &__minus {
        color: var(--clr-sub);
    }

    &__clear {
        text-align: center;
        margin: 0.5em;
    }
    
    &__items {
        margin-right: 1em;
    }

    &__total {
        margin-bottom: 1em;
    }
}