.tape {
    background-color: var(--clr-bkg);
    min-width: 250px;
    width: 100%;
    max-height: 100vh;
    padding: map-get($spc, 'sm');
    text-align: end;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    ul {
        width: 240px;
    }

    &__minus {
        color: var(--clr-sub);
    }

    &__clear {
        text-align: center;
        margin: 0.5em;
    }
    
    &__items {
        margin-right: 1em;
    }

    &__total {
        margin-bottom: 1em;
    }
}

@media (min-width: 700px) {
    .tape {
        align-items: center;
    }
}