button {
    width: map-get($siz, 'lg');
    height: map-get($siz, 'lg');
    background-color: var(--clr-sec);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px var(--clr-sdw);
    transition: 0.1s ease-in-out;

    &.btn--ter {
        background-color: var(--clr-ter);
    }
    
    &.btn--acc {
        background-color: var(--clr-acc);
    }
    
    &:hover {
        filter: brightness(0.9);
    }
    
    &:active {
        box-shadow: 0 2px 2px var(--clr-sdw);
        filter: brightness(0.85);
        transform: translateY(2px);
    }
}

.btn--sm {
    button {
        font-size: map-get($ft-sz, 'sm');
        height: map-get($siz, 'sm');
    }
}

.btn--md {
    width: map-get($siz, 'md');
    height: map-get($siz, 'md');
}