button {
    width: map-get($wdt, 'btn');
    height: map-get($wdt, 'btn');
    background-color: var(--clr-sec);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px var(--clr-sdw);
    transition: 0.1s ease-in-out;

    &.btn--ter {
        background-color: var(--clr-ter);
    }
    
    &.btn--acc {
        background-color: var(--clr-acc);
    }
    
    &:hover {
        filter: brightness(0.9);
    }
    
    &:active {
        box-shadow: 0 2px 2px var(--clr-sdw);
        filter: brightness(0.85);
        transform: translateY(2px);
    }
}

.btn--sm {
    button {
        font-size: map-get($ft-sz, 'sm');
        height: calc(map-get($wdt, 'btn') / 2);
    }
}

.btn--md {
    width: calc(map-get($wdt, 'btn') * 4/5);
    height: calc(map-get($wdt, 'btn') * 4/5);
    padding: map-get($spc, 'sm');
}