svg {
    width: 100%;
    height: auto;
    stroke: var(--clr-txt);
    fill: none;
    stroke-width: 32;
    .moon {
        display: none;
        stroke-dasharray: 106rem;
        stroke-dashoffset: 106rem;
        animation: moon 0.9s ease-in-out forwards;
    }

    .sun {
        stroke-dasharray: 45rem;
        stroke-dashoffset: 45rem;
        animation: sun 0.9s ease-in-out forwards;
    }

    .beams {
        stroke-dasharray: 4rem;
        stroke-dashoffset: 4rem;
        animation: beams 0.3s 0.7s ease-in forwards;
    }
}

[data-theme='drk'] {
    svg {
        .moon {
            display: block;
        }
        .sun, .beams {
            display: none;
        }
    }
}

@keyframes moon {
    0% {
        stroke-dashoffset: 106rem;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes sun {
    0% {
        stroke-dashoffset: 45rem;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes beams {
    0% {
        stroke-dashoffset: 4rem;
    }
    100% {
        stroke-dashoffset: 0;
    }
}