@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter&display=swap');

@font-face{
    font-family: "DSEG7";
    src: url('../fonts/DSEG7Modern-BoldItalic.ttf');
    font-weight: 700;
}

button {
    @include font('btn', 'rgl', 'xl', var(--clr-txt));
    line-height: 0.5em;
}

.calc {
    &__resizer {
        @include font('btn', 'rgl', 'md', var(--clr-txt));
        line-height: 0.75em;
    }

    &__display {
        @include font('dpy', 'bld', 'lg', map-get($clr, 'dpy'));
    }
}


.tape {
    @include font('tpe', 'rgl', 'md', var(--clr-txt));
    
    &__minus {
        color: var(--clr-sub);
    }
}