@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter&display=swap');

@font-face{
    font-family: "DSEG7";
    src: url('../fonts/DSEG7Modern-BoldItalic.ttf');
    font-weight: 700;
}

button {
    @include font('btn', 'rgl', 'xl', var(--clr-txt));
    line-height: 0.5em;
}

.calc {
    &__display {
        @include font('dpy', 'bld', 'lg', map-get($clr, 'dpy'));
    }
}

.tape {
    @include font('tpe', 'rgl', 'md', var(--clr-txt));
}

.offcanvas {
    @include font('btn', 'rgl', 'lg', var(--clr-txt));
    
    span{
    @include font('tpe', 'rgl', 'md', var(--clr-txt));
    opacity: 0.9;
}
}

.modal {
    @include font('btn', 'rgl', 'md', var(--clr-txt));
}

h1 {
    @include font('btn', 'rgl', 'lg', var(--clr-txt));
}

input {
    @include font('tpe', 'rgl', 'md', var(--clr-txt));
}