@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter&display=swap');

@font-face{
    font-family: "DSEG7";
    src: url('.fonts/DSEG7Modern-BoldItalic.ttf');
    font-weight: 700;
}